/* styles the input box */
.input-group {
  border-style: none;
  margin: 0 0 20px 0;
}

/* sets type of cursor for both the input box and the buttons */
#user-form,
.btn,
#city-container {
  cursor: pointer;
}

.submitButton {
  cursor: pointer;
}

.storedButtons {
  border-radius: 4px;
}

.rtSide {
  display: none;
}

.rtsideBlock {
  display: block;
}

.card-header {
  border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}

.form-label,
.form-input,
.form-textarea {}

/* sets flex */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

/* sets flex  */
.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* designates the div display */
div {
  display: inline;
}

/* .container{
  margin: 1px;
} */